<body class="toppage-body">
    <h1>ようこそBookersへ！</h1>
    
    <p class="top-p">Bookersでは、さまざまな書籍に関するあなたの意見や</p>
    <p class="top-p">印象を共有し交換することができます</p>
    <span class="top-p"><%= link_to "start", books_path %></span>
</body>
