/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}

/*index page layout*/
.index-head {
  margin: 0.67em 0.67em 0.1em 0.67em;
}

table {
  font-size: 13px;
  line-height: 18px;
  margin: 0px 33px 20px 33px;
  border-spacing: 10px;
}

.index-head-new {
  line-height: 18px;
  margin: 0px 33px;
}

.index-new {
  margin:33px;
}

.index-text-box{
  margin-bottom: 10px;
  font-size: 13px;
}

/*show page layout*/
.show-body {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.show-title {
  margin: 33px;
}

#notice {
  color:green;
  margin: 33px;
}
/*idの時は#??*/

/*edit page layout*/
.edit-body {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.edit-body h1{
  margin-bottom: 18px;
}

/*top page layout*/
.toppage-body {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.top-p {
  margin:33px;
}